.grid {
    &.grid-nogutter {
        color: #256029;
    }

    &.alimento-busqueda {
        max-height: 500px;
    }
}
.carrousel-comidas {
    max-height: 150px;
    align-items: right;
    margin: 4px;
}

#imagen-busqueda {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

#imagen-comida {
    height: 10px  !important;
    width: 10% !important;
}

.contenedor-imagen-detalles {
    position: relative;
    text-align: center;
}

.imagen-comida-detalles {
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 50%;
}

.centered {
    color: #256029;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tituloDetalles {
    color:black;
    font-size: x-large;
}

.imagen-alergeno {
    width: 100%;
    object-fit: contain;
}

#barraKcal {
    background-color:#7f9ec6;
}

#kcalIngeridos {
    background-color:#006fff;
}

#barraCarb {
    background-color:#d7a57b;
}

#carbIngeridos{
    background-color:#b35a02;
}

#barraProteinas {
    background-color:rgb(216 169 169);
}

#protIngeridos {
    background-color:#e30000;
}

#barraGrasas {
    background-color:rgb(228 218 190);
}

#grasasIngeridos {
    background-color:#eec137;
}

#kcalQuemadas {
    background-color: #32CD32;
}