.grid {
    &.grid-nogutter {
        color: #256029;
    &.alimento-busqueda{
        height: 300px;
    }
    }
}
.carrousel-comidas{
    max-height: 150px;
    align-items: right;
    margin: 4px;
}
#imagen-busqueda{
    height: 50%  !important;
}
#imagen-comida{
    height: 10px  !important;
    width: 10% !important;
}